<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Hello Discuss!</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
  </head>
  <body>
    <div class="bg-indigo-600">
      <div class="max-w-screen-xl mx-auto py-3 px-8">
        <div class="flex items-center justify-between flex-wrap">
          <div class="w-0 flex-1 flex items-center">
            <p class="ml-3 font-medium text-white truncate">
              <%= get_flash(@conn, :info) %>
              <%= get_flash(@conn, :error) %>
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="max-w-screen-lg mx-auto">
      <div class="py-6 px-8">
        <nav class="flex items-center h-10 justify-start">
          <div class="flex items-center flex-shrink-0 flex-grow-0">
            <div class="flex items-center justify-between w-auto">
              <a href="<%= topic_path(@conn, :index) %>" class="font-medium text-gray-500 hover:text-gray-900 transition duration-150 ease-in-out">Home</a>
            </div>
          </div>
          <div class="block ml-10 pr-4">
            <a href="<%= topic_path(@conn, :new) %>" class="font-medium text-gray-500 hover:text-gray-900 transition duration-150 ease-in-out">Create Topic</a>
          </div>
        </nav>
      </div>
      <main role="main" class="max-w-screen-lg mx-auto mt-16 px-8">
        <%= render @view_module, @view_template, assigns %>
      </main>
    </div>
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
