<h3 class="mb-8 text-5xl leading-10 font-extrabold tracking-tight text-gray-900">
  Topics
</h3>

<ul>
  <%= for topic <- @topics do %>
    <li>
      <a href="#" class="block text-2xl text-indigo-600 hover:text-indigo-900 transition duration-150 ease-in-out">
        <div class="py-4"><%= topic.title %></div>
      </a>
    </li>
  <% end %>
</ul>
